/* BODY LAYOUT */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALCULATOR LAYOUT */

#calculator {
    border-radius:50px;
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

/* DISPLAY SCREEN */

#display-screen {
    width: 100%;
    height: 20%;
    background-color: rgb(21, 20, 20);
    display: flex;
    justify-content: end;
    align-items: center;
}

#screen-txt {
    color: white;
    font-size: 4rem;
}

/* KEYS */

#btn-container {
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 1fr;
}

button {
    border: 1px solid gray;
}


#operators {
    grid-column: 1 / 3 ;
    display: flex;
}

#operator {
    width: 25%;
    background-color: lightgray;
}

#numbers {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#number {
    background-color: white;
}

#num-row1 {
    height: 25%;
    display: flex;
}

#num-row2 {
    height: 25%;
    display: flex;
}

#num-row3 {
    height: 25%;
    display: flex;
}

#num-row4 {
    height: 25%;
    display: flex;
}

.number {
    width: 100%;
}

#result {
    grid-column: 2 / 3;
}

#eaqual {
    width: 100%;
    height: 100%;
    background-color: coral;
}

button {
    width: 10%;
    font-size: 2rem;
}
